<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mopub.mobileads.flurry">
    <application>
        <activity android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>
</manifest>
